@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Open+Sans:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    font-family: 'ِArimo', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 0em;
    line-height: 1.7em;
    text-transform: none;
    color: rgba(29,29,29,.7);
}
/* header  */

.header {
    text-align: center;

}
.top-left {
    float: left;
    margin: 2% 0 0 7%;
    
}

.top-right {
    float: right;
    padding: 3%  6% 3% 3%;
}

.header-nav-item {
    text-decoration: none;
}

/* main section */
.main-container {

}
.img-container {
    float:left;
    margin-top: 10%;
}

.cryingThing {
    padding-left: 10%;
    width: 580px;
}

.error-container {
    float:right;
    text-align: center;
    padding-top: 15%;
    padding-right: 20%;

}

.dont-cry {
    letter-spacing: 10px;
    color: black;
}

.text {
    margin-top: 20px;
}
.center-stuff {
    text-align: center;
}
.clear-both {
    clear: both;
}



/* ul , a css */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }

  li a {
    display: block;
    text-align: center;
    padding: 0 12px;
    color: #1D1D1D;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
  }
  li a:hover {
    color: #9E9E9E;
    transition: 0.3s;
  }

    .fa:hover {
    color: #9E9E9E;
    transition: 0.3s;
  }

  .footer-links a:hover {
    color: #9E9E9E;
    transition: 0.3s;
  }
  a {
    font-family: 'Arimo', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0em;
    line-height: 0.9em;
    text-transform: none;
    font-family: 'Arimo';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.29em;
    line-height: 1.7em;
    text-transform: uppercase;
    color: #1d1d1d;
  }

  .fa {
    font-size: 28px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    background: #fff;
    color: #1d1d1d;
  }

/* footer */

  footer {
      text-align: center;
  }

  .copyright {
      font-weight: lighter;
      font-size: 15px;
      line-height: 1.7em;
      text-transform: uppercase;
  }